* {
  margin: 0;
  padding: 0;
  outline: none;
}

.container {
  width: 100%;
  height: 100vh;
}

.socialMedia {
  z-index: 1;
  position: absolute;
  position: fixed;
  top: 40%;
  bottom: 60%;
  position: fixed;
  border: 1px solid #cacaca;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.bot {
  bottom: 0;
  right: 0;
  position: fixed;
  width: 350px;
  margin-right: 1.5rem;
}

.btn {
  font-size: 20px;
  float: right;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  padding: 8px;
  background-color: #009fc6;
  margin-right: 0rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  border: #009fc6;
  cursor: pointer;
}

.fa-comments{
  font-size: 30px;
  color: white;
}

.fa-chevron-down{
  font-size: 25px;
  color: white;
  font-weight: 200;
}
