* {
  margin: 0;
  padding: 0;
}

.nav-bar {
  height: 8vh;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  z-index: 1;
  background-color: #1A1B1F;
  position: fixed;
  color: #9599a2;
}

.nav-logo {
  float: left;
  margin-left: 246px;
  line-height: 66.95px;
}

.nav-link {
  float: right;
  margin-right: 246px;
  line-height: 66.95px;
  display: inline;
}

.nav-link ul {
  display: inline-block;
}

.nav-link ul li {
  list-style: none;
  display: inline;
  margin-left: 2rem;
  cursor: pointer;
}

.nav-link ul li:hover{
  color: white;
}

.react-toggle {
  float: right;
  margin: 1.3rem 3rem;
}

.react-switch-checkbox {
  visibility: hidden;
  display: none;
}

.react-switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 50px;
  height: 25px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color 0.2s;
}

.react-switch-label .react-switch-button {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}
